extends layout

block content
    h1= title

    ul
        each author in author_list
            li
              a(href=author.url) #{author.fullName}
              |  (#{author.dates})
        else
            li There are not authors.