extends layout

block content
    h1 Author: #{author.fullName}
    p #{author.dates}

    div(style='margin-left:20px;margin-top:20px')
        h4 Books

        each book in books
            dt
              a(href=book.url) #{book.title}
            dd #{book.summary}
        else
            p There are not books.