extends layout

block content
    h1=title

    if errors
        for error in errors
            div.row
                div.col-sm-12
                    div.alert.alert-danger(role='alert') #{error.msg}

    form(method='POST', action='')
        div.mb-3
            label.form-label(for='first_name') First Name:
            input#first_name.form-control(
            type='text',
            placeholder='First name',
            name='first_name',
            required,
            value=(undefined===author ? '' : author.first_name)
            )
        div.mb-3
            label.form-label(for='family_name') Family Name:
            input#family_name.form-control(
            type='text',
            placeholder='Family name',
            name='family_name',
            required,
            value=(undefined===author ? '' : author.family_name)
            )
        div.mb-3
            label.form-label(for='date_of_birth') Date of birth:
            input#date_of_birth.form-control(
            type='date',
            name='date_of_birth',
            value=(undefined===author ? '' : author.date_of_birth)
            )
        div.mb-3
            label.form-label(for='date_of_death') Date of death:
            input#date_of_death.form-control(
            type='date',
            name='date_of_death',
            value=(undefined===author ? '' : author.date_of_death)
            )
        button.btn.btn-primary(type='submit') Submit