extends layout

block content
    h1 ID: #{book_instance.id}
    p #[strong Title:]
      a(href=book_instance.book.url) #{book_instance.book.title}
    p #[strong Imprint:] #{book_instance.imprint}
    p #[stong Status:]
      if book_instance.book_status=='Available'
        span.text-success #{book_instance.book_status}
      else if book_instance.book_status == 'Maintenance'
        span.text-danger #{book_instance.book_status}
      else
        span.text-warning #{book_instance.book_status}
    if book_instance.book_status!='Available'
        p #[strong Due back:] #{book_instance.due_back_formatted}