extends layout

block content
    h1= title

    ul
        each book in book_list
            li
              a(href=book.url) #{book.title}
              |  (#{book.author.fullName})

        else
            li There are no books.