extends layout

block content
    h1= title

    ul
        each val in bookinstance_list
            li
              a(href=val.url) #{val.book.title} : #{val.imprint} -
              if val.book_status=='Available'
                  span.text-success #{val.book_status}
              else if val.book_status=='Maintenance'
                  span.text-danger #{val.book_status}
              else
                  span.text-warning #{val.book_status}
              if val.status!='Available'
                  span  (Due: #{val.due_back_formatted} )
        else
            li There are no book copies in this library.