extends layout

block content
    h1= title

    if errors
        for error in errors
            div.row
                div.col-sm-12
                    div.alert.alert-danger(role='alert') #{error.msg}

    form(method='POST', action='')
        div.mb-3
            label.form-label(for='title') Title:
            input#title.form-control(
            type='text',
            placeholder='Name of book',
            name='title',
            required,
            value=(undefined===book ? '' : book.title)
            )
        div.mb-3
            label.form-label(for='author') Author:
            select#author.form-control(
            type='select',
            placeholder='Select author',
            name='author',
            required
            )
              for author in authors
                  if book
                      option(value=author._id, selected=
                      (author._id.toString()===book.author._id.toString() ? 'selected' : false)) #{author.fullName}
                  else
                      option(value=author._id) #{author.fullName}
        div.mb-3
            label.form-label(for='summary') Summary:
            textarea#summary.form-control(
            type='textarea',
            placeholder='Summary',
            name='summary',
            required
            ) #{undefined===book ? '' : book.summary}
        div.mb-3
            label.form-label(for='isbn')
            input#isbn.form-control(
            type='text',
            placeholder='ISBN13',
            name='isbn',
            value=(undefined===book ? '' : book.isbn)
            )
        div.mb-3
            Genre
            for genre in genres
                div.form-check-inline
                    input.form-check-input(
                    type='checkbox',
                    id=genre._id,
                    value=genre._id,
                    checked=genre.checked
                    )
                    label.form-check-label(for=genre._id)  #{genre.name}
        button.btn.btn-primary(type='submit') Submit