extends layout

block content
    h1 #{title}

    if errors
        for error in errors
            div.row
                div.col-sm-12
                    div.alert.alert-danger(role='alert') #{error.msg}

    form(method='POST' action='')
        div(class='mb-3')
            label(for='name', class='form-label') Genre:
            input#name.form-control(
                type='text',
                placeholder='Fantasy, Poetry etc.',
                name='name',
                value=(undefined===genre ? '' : genre.name),
                required)
        button(type='submit' class='btn btn-primary') Submit